.DS_Store
node_modules/
__pycache__/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
output/

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

